body{
  margin:0;
  padding:0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:14px;
  color:#444;
}

.container{
  width: 960px;
  margin:0 auto;
}

.clearBoth{
  clear:both;
}
.floatLeft {
  float: left;
}
/*
  HEADER
*/

header#header{
  padding-top:30px;
  padding-bottom:0px;
  background:#AAA;
}
header#header h2{
  text-transform: uppercase;
  padding-left: 20px;
  font-size: 25px;
}

header#header img, header#header h2{
  float: left;
}
header#header img{
  width:80px;
  height:auto;
}

header#header a.login{
  float:right;
}

nav{
  background-color: #FF9900;
  margin-top: 20px;
  position: relative;
}

.menuHorizontal li.menuItem{
  list-style: none;
  float: left;
  padding: 15px 20px;

}

.menuHorizontal li.menuItem a{
color:#FFF;
text-transform: uppercase;
text-decoration: none;

}

.menuHorizontal li.menuItem:hover a{
  color: #AAA;
}
.menuHorizontal .subMenu{
  display: none;

}
.menuHorizontal li.menuItem:hover .subMenu{
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  list-style: none;
  background-color: black;
  padding: 10px;
  width: 100%;

}

aside{
  width:200px;
  float:left;
}
.verticalMenu{
  margin-left:0;
  padding:0;
}

.verticalMenu li{
  list-style:none;
  padding:15px;
  border-bottom:1px solid #FFF;
  position:relative;
}

.verticalMenu .subMenu{
  display: none;
}

.verticalMenu li.menuItem:hover .subMenu{
  display:block;
  position:absolute;
  top: 0%;
  left: 100%;
  list-style: none;
  background-color: black;
  padding: 10px;
  width: 100%;
}

.menuHorizontal li.menuItem .subMenu li{
  padding:5px;
}

.verticalMenu a{
  color:white;
  text-transform: uppercase;
  text-decoration:none;
}
